In [79]:
import pandas as pd
import prophet
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import pmdarima as pm

In [94]:
df = pd.read_csv("temperatures.csv")

In [95]:
# Convert df to datetime
df.ds = pd.to_datetime(df.ds)
df.dtypes

ds    datetime64[ns]
y            float64
dtype: object

In [96]:
# Find missing date_range in TS data
full_range = pd.date_range(start = "1980-01-01", end = "2012-12-01", freq='MS')
#full_range.difference(df.ds)

df.set_index('ds', inplace=True)
df = df.reindex(full_range)
df = df.fillna(method='ffill')

In [97]:
# Reset the index
df['ds'] = df.index
df.reset_index(drop=True, inplace=True)
df = df[['ds', 'y']]

## Arima Model

#### The general steps to implement an ARIMA model:

1. Load and prepare data
2. Check for stationarity (make data stationary if necessary) and determine d value
3. Create ACF and PACF plots to determine p and q values
4. Fit ARIMA model
5. Predict values on test set
6. Calculate rÂ²

In [101]:
df.head()

          ds      y
0 1980-01-01 -2.845
1 1980-02-01  1.456
2 1980-03-01  2.816
3 1980-04-01  4.312
4 1980-05-01  9.103